{% extends "base.html" %}

{% block contenido %}
{% load i18n %}
	
	<!--<nav>
		
		<div class="logo-principal animated zoomIn">
	    	
	    </div>
	</nav>-->

	<nav class="reset-navbar-fixed">
		<div class="nav-wrapper">
			<div class="container">
				<a href="#!" class="brand-logo"><img class="responsive-img" width="250px" src="/static/img/Logo_ChiloeSmart_3.png"></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a class="border-hover-menu" href="{% url 'home_map_city' %}">Mapa</a></li>
					<li><a class="border-hover-menu" href="sass.html">Historias</a></li>
					<li><a class="border-hover-menu" href="badges.html">Leyendas</a></li>
					<li><a class="border-hover-menu" href="badges.html">Eventos</a></li>
					<li><a class="border-hover-menu" href="collapsible.html">Lugares</a></li>
				</ul>
			</div>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="{% url 'home_map_city' %}">Mapa</a></li>
				<li><a href="sass.html">Historias</a></li>
				<li><a href="badges.html">Leyendas</a></li>
				<li><a href="badges.html">Eventos</a></li>
				<li><a href="collapsible.html">Lugares</a></li>
			</ul>
		</div>
	</nav>

	
	

	<div class="carousel carousel-slider height-full" data-indicators="true">
			<div id="div-land" class="land carousel-item" href="#one!">
		    	<div class="opacity-div">
			    	<div class="container valign-wrapper">
			    		<div class="row">
			    			<h1>{% trans 'Landscapes' %}</h1>
				    		<div class="col l6" style="padding: 0 !important;">
				    			<h5>Con sus infinitos cerros, se pueden apreciar y descubrir muchos lugares desde lo alto de Chiloé.</h5>
				    		</div>
				    		<div class="col l6 center-align">
			    				<a href="{% url 'home_places_landscapes' %}" class="btn btn-descubre pink lighten-1"> Descubre más</a>
				    		</div>
			    		</div>
			    	</div>
		    	</div>
			</div>


			 <div id="div-beach" class="beach carousel-item" href="#two!">
		    	<div class="opacity-div">
			    	<div class="container valign-wrapper">
			    		<div class="row">
			    			<h1>{% trans 'Beachs' %}</h1>
				    		<div class="col l6" style="padding: 0 !important;">
				    			<h5>Chiloé cuenta una inmensa cantidad de playas con gran vista al oceano pacifico, lo que hace un lugar perfecto para visitar con buen o mal clima.</h5>
				    		</div>
			    			<div class="col l6 center-align">
			    				<a href="{% url 'home_places_beachs' %}" class="btn btn-descubre pink lighten-1"> Descubre más</a>
				    		</div>
			    		</div>
			    	</div>
			    </div>
		    </div>

		    <div id="div-trail" class="trail carousel-item" href="#three!">
		    	<div class="opacity-div">
					<div class="container valign-wrapper">
			    		<div class="row">
			    			<h1>{% trans 'Trails' %}</h1>
				    		<div class="col l6" style="padding: 0 !important;">
				    			<h5>Chiloé cuenta una inmensa cantidad de playas con gran vista al oceano pacifico, lo que hace un lugar perfecto para visitar con buen o mal clima.</h5>
				    		</div>
				    		<div class="col l6 center-align"> 
				    			<a href="{% url 'home_places_trails' %}" class="btn btn-descubre pink lighten-1"> Descubre más</a>
				    		</div>
			    		</div>
			    	</div>
			    </div>
		    </div>
		<!--<div class="carousel-item blue white-text" href="#four!">
			<h2>Fourth Panel</h2>
			<p class="white-text">This is your fourth panel</p>
		</div>-->
	</div>
	    <!--<p class="subtittle">{% trans 'What are you looking for?' %}</p>-->

	<!--	<div class="row">
			<div class="col s12 m6 l3">
				<a href="#div-land" class="center-align  btn-menu-principal btn-green-chiloe">{% trans 'Landscapes' %}</a>
			</div>
			<div class="col s12 m6 l3">
				<a href="#div-beach" class="center-align  btn-menu-principal btn-green-chiloe">{% trans 'Beachs' %}</a>
			</div>
			<div class="col s12 m6 l3">
				<a href="#div-trail" class="center-align  btn-menu-principal btn-green-chiloe">{% trans 'Trails' %}</a>
			</div>
			<div class="col s12 m6 l3 valign-wrapper">
				<a href="{% url 'home_map_city' %}" class="center-align btn-menu-principal">
					<img class="img-btn-maps center-align" src="/static/img/maps/btn_inicio_mapas.png">
				</a>
			</div>
		</div>
    </div>-->
    <footer>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </footer>
    {% block otherscripts %}
		<script type="text/javascript" src="/static/js/timeinterval.js"></script>
    {% endblock %}
	

{% endblock %}